[2018-11-26 15:18] jlewi opened #22 "Automate syncing of Google Groups"
We should automate syncing of a subset of groups.

The subset of groups should be restricted to non critical groups (e.g. not google-kubeflow-admins).

We should create a suitable bot account and make this a manager of the groups that we want to administer.

We should then setup a restricted cluster that has the appropriate credentials. Ideally we can setup a GCP service account.

We should use a

[2019-01-16 07:46] woop opened #49 "Add additional Feast members to feast-team.members.txt"
We'd like to add additional team members from GOJEK to the [feast-team.members.txt](https://github.com/kubeflow/internal-acls/blob/master/feast-team.members.txt) file

We'll be creating a PR to add an internal Google group to that list so that we can manage the members on our side, or is the preferred approach to specify the member e-mails themselves in the list?

[2019-01-16 07:47] woop commented on #49
/assign jlewi

[2019-04-02 01:09] jlewi opened #76 "bazel build of peribolos is failing ERROR: error loading package '': Extension file 'appengine/py_appengine.bzl' has errors"
[code]

[2019-07-31 17:57] #49 closed

[2019-07-31 17:57] #76 closed

[2019-09-09 17:24] james-jwu opened #148 "Adding user to org.yaml does not generate an invite to join the org"
I submitted and merged a PR that adds "james-jwu" to org.yaml. I expect that I am able to access https://github.com/orgs/kubeflow/teams/pipelines/members, but cannot. It looks like I am not added to kubflow/members, and I should receive an invite to join but did not.

[2019-09-09 18:15] jlewi commented on #148
The sync looks to have completed successfully; here are the logx.

[synclogs.txt](https://github.com/kubeflow/internal-acls/files/3591973/synclogs.txt)

[2019-09-09 18:24] jlewi commented on #148
Actually looks like there is an error from the most recent sync.

[code]
So looks like imjohnbo is a member of a group but not the org so the config is invalid.

@james-jwu do you want to submit a PR to fix this.

[2019-09-09 22:56] jlewi commented on #148
Reopen still broken

[code]

Probably due to #145

[2019-09-09 22:59] jlewi commented on #148
@james-jwu Can you open up an issue to also add your py_test to the presubmits?

Here's [instructions](https://github.com/kubeflow/testing#python-function) basically you need to add an Argo workflow that would run the test you wrote.

You could take a look at this unittest workflow for kubeflow/kubeflow
https://github.com/kubeflow/kubeflow/blob/5b652b18892c7b49af48ecc365b0af1080e0cb06/prow_config.

[2019-09-10 16:14] james-jwu opened #151 "Run pytest under kubeflow/githug-orgs during presubmission"
The test will validate org.yaml file. We have seen at least a couple of times recently when people added new team members but forgot to add them to the org.

[2019-09-10 16:18] james-jwu commented on #148
@jlewi I opened issue #151. I will fix this issue by updating the org.yaml file, and work on #151 afterwards.

[2019-09-10 18:44] #148 closed

[2019-09-13 15:26] jlewi opened #154 "GitHub sync is failing"
/kind bug

Latest run of the cron job failed with

[code]

[2019-09-13 15:46] jlewi commented on #154
We are using
gcr.io/k8s-prow/peribolos@sha256:ffb1e428ec88513ab3345e887be958ec3bb112b2e23a05b6088e53b18046f4a5

Lets try a more recent image.

Now I'm getting the error

[code]

It looks like the user doesn't exist or maybe they deleted their account.

[2019-09-14 03:18] clarketm commented on #154
@jlewi - are you still getting sync error after the image update? That error message https://github.com/kubeflow/internal-acls/issues/154#issuecomment-531289684 is misleading, because in the case of a **404** processing will continue ([ref](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/peribolos/main.go#L443-L447)).

[2019-09-15 00:53] jlewi commented on #154
@clarketm thanks I will try updating the image and see if that fixes the 404 issue.

[2019-10-21 05:36] jinchihe opened #179 "Cannot get the pod logs by ci-viewer team."
/kind area/process

Cannot get the pod logs by `ci-viewer` team.

[code]
I also tried following [here](https://www.kubeflow.org/docs/gke/monitoring/#stackdriver-kubernetes), still cannot work.
[code]

[2019-10-21 06:05] jinchihe commented on #179
/kind community/maintenance

[2019-10-21 17:17] #179 closed

[2019-12-21 02:26] #154 closed

[2020-03-17 17:07] jlewi commented on #22
/lifecycle frozen

[2020-03-27 00:40] terrytangyuan opened #228 "Configure peribolos to sync repo permissions and teams"
Could anyone here grant me write access to the following two repos?

* https://github.com/kubeflow/common
* https://github.com/kubeflow/xgboost-operator/

Currently I am listed as maintainer both of these two repos under team "xgboost-operator-team" and "common-team" as specified in [org.yaml](https://github.com/kubeflow/internal-acls/blob/master/github-orgs/kubeflow/org.yaml). However, I don't ha

[2020-03-27 03:35] jlewi commented on #228
Can this be done through OWNERs files?

Can this be done through PRs modifying the appropriate config files?
https://github.com/kubeflow/testing#setting-up-a-kubeflow-repository-to-use-prow-a-idprow-setupa

What GitHub roles provide the least privilege to accomplish what you need?

Can membership and repo permissions be managed through GitOps to make it easier to scale and manage?

We are using [p

[2020-03-27 04:18] terrytangyuan commented on #228
Got it. I didn’t know we are using peribolos to manage the permissions, which definitely seems more scalable and manageable. I believe the corresponding teams I am in are missing a “repos” field. I’ll give that a try soon. Thanks!

[2020-03-30 13:18] terrytangyuan commented on #228
Per comment in https://github.com/kubeflow/internal-acls/pull/229#issuecomment-605516105, it seems like we might not have peribolos configured to sync repo permissions yet. I am re-opening this issue to track that.

[2020-04-03 13:44] terrytangyuan opened #233 "Add mxnet-operator to repos managed by project-maintainers team"
[mxnet-operator](https://github.com/kubeflow/mxnet-operator) is missing from the [list of repos managed by project-maintainers team](https://github.com/orgs/kubeflow/teams/project-maintainers/repositories).

/cc @abhi-g @jlewi @richardsliu

Could you add it since you are the maintainers of project-maintainers team?

[2020-04-05 22:08] jlewi commented on #233
@terrytangyuan Can you open up a PR please to add it to the team?

[2020-04-06 12:59] terrytangyuan commented on #233
@jlewi I don't think the list of repos is managed by the "project-maintainers" team in  [org.yaml](https://github.com/kubeflow/internal-acls/blob/master/github-orgs/kubeflow/org.yaml) yet. Should I go ahead and add the list of repos to that team? I am uncertain whether peribolos has been configured to sync repo permissions as discussed in https://github.com/kubeflow/internal-acls/issues/228.

[2020-04-24 02:17] jlewi commented on #233
@terrytangyuan I'm guessing peribolos has not been configured but we could/should probably enable it if that's not the case.

[2020-05-11 23:32] jlewi commented on #22
I think there are multiple pieces to this

1. Create a simple go binary to use the [directory API](https://developers.google.com/admin-sdk/directory) to
     1. Create groups if needed
     1. Add/Remove members to match the config file
1. Create a service account with appropriate permissions to do the sync.
1. Create a K8s deployment
     1. load groups from YAML
1. Use ACM to synchronize the con

[2020-05-18 13:00] jlewi commented on #228
/cc @Jeffwan

[2020-05-20 20:32] jlewi commented on #228
We should already be sync'ing teams

[code]

[2020-05-20 20:43] jlewi commented on #228
It looks like peribolos has two options
* fix-team-repos - fix team permissions on repos
* fix-repos - create/update/delete repos

So we probably want the fix-team-repos permission.

[2020-05-21 03:57] jlewi commented on #228
The job is currently failing.
Here are the logs
[logs.txt](https://github.com/kubeflow/internal-acls/files/4660526/logs.txt)

The problem is that ajayalfred is not a user.

[code]

[2020-05-21 04:06] jlewi commented on #228
I updated the cron job to  run with fix-team-repos.

[2020-05-21 04:14] jlewi commented on #228
Per: kubernetes/test-infra#14321 it looks like we are using an outdated peribolos image; on newer images it keeps going on error.

[2020-05-21 04:27] jlewi commented on #228
Looks like kubernetes/test-infra/issues#17671 its still an issue with peribolos not continuing

[2020-05-21 04:30] jlewi commented on #22
/cc @Jeffwan @terrytangyuan @animeshsingh @yanniszark
Just an FYI I'm going to be asking for help on this issue the next time you get blocked needing to be added to a Google group.

[2020-05-21 04:34] jlewi opened #249 "Move the peribolos/GitHub sync into kubeflow.org"
We should move the GitHub sync job into a GKE cluster in kubeflow.org so it can potentially be administered/monitored by non-googlers.

The blocker to doing that is doing a risk assement on what the blast radius could be?

In particular, can periobolos be used to remove/change the admins for the GitHub org? Can we enforce this by using a properly scoped GitHub token?

/cc @Jeffwan @terrytangyuan

[2020-05-21 18:00] terrytangyuan commented on #228
This has been fixed by #250.

[2020-05-21 18:00] #228 closed

[2020-05-21 19:38] #233 closed

[2020-05-22 01:37] jlewi commented on #228
Confirmed this is working.
https://github.com/kubeflow/internal-acls/pull/251
Submitted a new team mxnet-operator-team and that team now exists.

[2020-05-22 01:39] terrytangyuan commented on #228
@jlewi Yes and repo permissions are also correct! Thanks for all the efforts!

[2020-07-06 10:17] jlewi opened #275 "Update issue template to join the org"
Take a look at Kubernetes'
https://github.com/kubernetes/org/blob/master/.github/ISSUE_TEMPLATE/membership.md

[2020-07-15 03:44] jlewi commented on #151
/lifecycle frozen

We need to run this on presubmits

[2020-07-15 03:50] jlewi commented on #249
This is currently running in

* project: kubeflow-admin
* cluster: kf-service-admin
* namespace: github-admin

[2020-07-15 03:54] jlewi opened #285 "GitHub sync is broken invalid yaml"
/kind bug

Here's the bug.

[code]

[2020-07-15 04:55] Bobgy opened #288 "Q: how should GAM CLI be setup?"
I was added as admin, but I cannot set up my GAM CLI properly.

I was following GAM install guide in https://github.com/jay0lee/GAM and I got
[code]

When clicking the url, it tells me I don't have permission to create a project.

[2020-07-15 04:56] Bobgy commented on #288
/cc @jlewi

[2020-07-15 05:11] jlewi commented on #288
@Bobgy Where are you trying to create a project? I believe you are just configuring a GCP project to use for charging quota.

See also: kubeflow/internal-acls#22 it might also make more sense to just focus on writing a simple go binary to use the Directory API rather than dealing with gam.

[2020-07-15 05:16] Bobgy commented on #288
I agree #22 will be a better long term solution. If this is hard to achieve, let's just do that.

[2020-07-15 05:17] Bobgy commented on #22
Just realized the directory api is related to gsuite admin-sdk: https://developers.google.com/admin-sdk/directory.
From first glance, I thought it just let you read directories.

[2020-07-16 07:48] jinchihe opened #289 "Grant appropriate IAP permissions to access tekton test UI"
I'm not sure here is right way (or testing repo?) to log this since we need to grant appropriate IAP permissions, but commented as @jlewi

I want to check tekton test ui, but cannot access, how to apply that? Thanks.
[code]

From @jlewi comments:
[code]

[2020-07-17 15:54] jlewi commented on #289
Someone will need to figure out the right way to do this securely. We should be able to use IAP to only allow access to the tekton dashboard and nothing else in the cluster.

We could start by adding an appropriate rule to ci-viewers.

Later we could see about opening that up to all users with a google account so folks submitting PRs would be able to see their pipelineruns.

@jinchihe @scottilee

[2020-07-22 21:12] jlewi opened #295 "Automate approval of requests"
/kind process

For policy reasons, I don't think we can have non-Googlers approving requests to change the GitHub policy because granting a non-googler permission to approve PRs would be overly permissive; i.e. its probably permissive for non googlers to approve
joining the github org or a possible a github team; but changing github admins should not be allowed.

If we become bottlenecked on Googl

[2020-08-06 12:19] Bobgy commented on #288
OK, I figured out how to set it up.

Prerequisite is I need to get an kubeflow.org email addresss.
I got `gongyuan@kubeflow.org`.

Then I can follow instructions in https://github.com/jay0lee/GAM/wiki to set up the tool. Specifically, it needs to create a "GAM Project" Google Cloud project in kubeflow.org. After following all initial setup, I can run the sync_group script.

[2020-08-06 23:22] #288 closed

[2020-08-24 15:36] jlewi commented on #22
@Bobgy I think you can manage groups
https://developers.google.com/admin-sdk/directory/v1/guides/manage-group-members

[2020-09-16 13:34] #285 closed

[2020-09-16 13:36] jlewi opened #344 "Is the GitHub Sync Broken Again?"
Looks like recent PRs may not have been sync'd.

For example #341 and #342 don't appear to have been sync'd.

@Bobgy @rmgogogo could on of you take a look please?

[2020-09-18 18:35] chensun opened #346 "Presubmit test to prevent Github-sync from being broken by inconsistent member lists"
/kind process

Follow up on #344
We've seen a couple of times that Github sync is broken when a member is added to a team but not the Kubeflow org.
For example:

[code]

Such errors should be caught earlier if we had some presubmit test to check on this.

/assign @Bobgy @rmgogogo
/cc @jlewi

[2020-09-18 18:40] chensun commented on #346
/kind process

[2020-09-18 18:53] #344 closed

[2020-09-18 19:00] jlewi commented on #344
Looks like that fixed it:
https://github.com/orgs/kubeflow/teams/google-admins

Now exists.

[2020-10-01 21:03] PatrickXYS opened #348 "Granting Permissions to aws-kf-ci-bot"
First section is [aws-kf-ci-bot](https://github.com/aws-kf-ci-bot) account is used to delegate AWS prow to run tests against PR.

So there are two options to grant permissions to aws-kf-ci-bot for some repos.

1. Add one section [here](https://github.com/kubeflow/internal-acls/blob/561ca6c8232b988978b66abc079aec598abc3e0c/github-orgs/kubeflow/org.yaml#L719)

[code]

2. For Training and AutoML WG's

[2020-10-01 21:03] PatrickXYS commented on #348
/cc @Jeffwan @jlewi @Bobgy @andreyvelich @yuzisun

Any insights on this issue?

[2020-10-02 12:44] jlewi commented on #348
Should we be using a GitHub account to report back status on PRs?
https://developer.github.com/apps/differences-between-apps/

Do we need write permission just to update GitHub status?

It looks like a GitHub app can have access to just commit status which is what we need.

GitHub Apps are also associated with webhooks.

So one possibility would be

You create a GitHub App.
We install that GitHub

[2020-10-04 20:49] PatrickXYS commented on #348
I've already taking a look at the Github Apps Prow and tried it. To make it work, we need to maintain a customized prow.

We want to rely on upstream prow for development work and features, then on our side, we made a little customization to make it work with AWS.

Do you think we can manually handle permissions / webhook in POC stage? We can improve the process gradually.

@jlewi

[2020-10-06 01:44] jlewi commented on #348
@kubeflow/google-admins will be the folks administering the GitHub org; so they would be the ones that would have to do any manual work. So you'll need to get buy in from a majority of them.

[2020-10-06 18:36] Jeffwan commented on #348
Github Apps will be better option. See benefits here.  https://docs.github.com/en/free-pro-team@latest/developers/apps/migrating-oauth-apps-to-github-apps

The only blocking issue is upstream work on Prow side to support it. I will have a check on the existing works done by Prow and see how far to support it

[2020-10-06 23:59] PatrickXYS commented on #348
So currently action item should be:

1. Add aws-kf-ci-bot account into bot [team-list](https://github.com/kubeflow/internal-acls/blob/561ca6c8232b988978b66abc079aec598abc3e0c/github-orgs/kubeflow/org.yaml#L724)

2. Add webhook to the repos that want to migrate to Kubeflow Shared Test-infra.

@Bobgy @rmgogogo @james-jwu @neuromage

Since you are all https://github.com/orgs/kubeflow/teams/google-adm

[2020-10-09 15:55] jlewi commented on #348
I would much prefer at this point to use GitHub Apps as opposed to bot accounts and separate configuration of webhooks.

I'd like to suggest an alternative and understand if its unreasonable before continuing down the road of not using GitHub Apps.

Bypass prow for the triggering and execution of jobs.

Kubeflow tests currently work on triggering Tekton workflows described in prow_config.yaml.

Ho

[2020-10-11 11:07] #275 closed

[2020-10-12 16:16] andreyvelich commented on #348
@jlewi Since we have to set new test infra until 17th of October, my suggestion is to manually set webhook for couple repositories.
Then we can start to migrate infra to AWS and unblock many PRs for Training WG.
That should be easier than creating new process and debug it.

As well, we don't have much time until Kubeflow 1.2 release and, I think, it would be great if we can migrate to the new infr

[2020-10-13 12:46] jlewi commented on #348
@andreyvelich I will not be the one manually administering the GitHub org and setting up webhooks so you'll need to get buy in from one of the other admins; otherwise this is not a viable path forward.

[2020-10-13 15:01] andreyvelich commented on #348
@Bobgy or anyone from @kubeflow/google-admins  Can you help us with set the webhook, please?
/cc @Jeffwan @PatrickXYS

[2020-10-14 02:04] Bobgy commented on #348
@andreyvelich Can you inform me what kind of configurations I need to do and to which repos?
Shall we start small with just one repo, verify this works e2e and you can scale to multiple repos when you finish the automation work?

[2020-10-14 11:47] andreyvelich commented on #348
@Jeffwan Can you explain @Bobgy what change needs to be done to set the webhook, please?

My suggestion is to set webhook for repositories that have many blocking PRs before the Kubeflow 1.2 release.
From my point of view it is: [pytorch-operator](https://github.com/kubeflow/pytorch-operator) and [katib](https://github.com/kubeflow/katib).

@kubeflow/wg-training-leads What do you think ?

[2020-10-14 11:51] terrytangyuan commented on #348
Setting webhooks for those two repos sounds good to me.

[2020-10-14 16:03] PatrickXYS commented on #348
Thanks @Bobgy @andreyvelich

Here is the action item that is required to get started with two small repos:

1. Give permission to aws-kf-ci-bot with this PR https://github.com/kubeflow/internal-acls/pull/353
2. Add webhook to `pytorch-operator` and `katib`, since this part is kind-of secret, I'll DM you with specific steps.

[2020-10-14 22:11] Jeffwan commented on #348
Once bot has the permission to operate repo, then I can help on pytorch e2e tests. Test case is ready actually, we just need to test it e2e https://github.com/Jeffwan/pytorch-operator/pull/4

[2020-10-14 22:59] jlewi commented on #348
Relying on @Bobgy to administer all the repos doesn't seem very sustainable. I can think of two viable paths

1. Someone builds out the automation
1. We pass on the toil for manual maintenance to individual repos

Regarding #2 as a possible interim solution; What privileges are needed to configure webhooks on the repository level? Is it admin?

I don't think we want to be handing out admin rights

[2020-10-14 23:08] PatrickXYS opened #354 "[P0] Automate the Webhook Management Process"
Since we have some discussions on #348 , starting with manual work may be easy at the beginning.

What make us worry about is there might be too much toil on Webhook Management work.

This issue is created to automate the process, now we have options:

1) Github App [More intelligent]
2) Give Admin to Repo Owners so that they manage on repo-level [Work-around]

/cc @Jeffwan @Bobgy @andreyvelich @j

[2020-10-15 07:43] Bobgy commented on #348
Thanks @jlewi for the proposal! I think one time configuration for two repos is okay for me, because webhook config is fairly simple, but as I imagine, there could be back and forces debugging the webhook. If that happens, I think it will be a good timing to grant temporary admin privileges as @jlewi suggested.

Thoughts?

[2020-10-15 07:47] Bobgy commented on #348
I've added webhooks to the katib and pytorch operator repos as @PatrickXYS DMed.
Please verify if that works.

[2020-10-16 04:13] PatrickXYS commented on #348
So for the initial testing stage, there might be a back-and-forth process when debugging.

I would recommend granting myself with admin access to katib + pytorch-operator repo.

And this will be temporary permission granting and it also saves efforts for @Bobgy .

/cc @jlewi @Bobgy @Jeffwan @andreyvelich

[2020-10-20 06:59] #151 closed

[2020-10-20 12:52] jlewi opened #359 "GitHub Org Sync appears to be broken again"
Looks like the sync is broken again. There doesn't appear to be the group @kubeflow/wg-notebook-leads which was added in #358

I suspect its due to either #358 or #353

/cc @thesuperzapper @chensun @PatrickXYS

[2020-10-20 15:59] PatrickXYS commented on #359
That's weird, all in #353 is to make a github account as member and create a new team.

[2020-10-20 17:55] chensun commented on #359
The error is
[code]

Looks like the user `kandrio98` recently changed their GitHub username to `kandrio`. Will sent a fix shortly.

[2020-10-20 23:47] thesuperzapper commented on #359
@chensun just wanted to check, where can you view those logs?

[2020-10-21 00:13] chensun commented on #359
I'm not sure if you might have access. But this sync job runs in a cluster `kf-admin-cluster`. I got the error from the pod log.

[2020-10-21 00:20] #359 closed

[2020-10-21 21:25] PatrickXYS opened #361 "aws-kf-ci-bot don't have write access to specified repos"
Given the merged PR https://github.com/kubeflow/internal-acls/pull/353,

[code]
`aws-kf-ci-bot` account should have write access to katib and pytorch-operator repos.

Obviously, the `third-party-bots` team don't have access to both repos:

https://github.com/orgs/kubeflow/teams/third-party-bots/repositories

How can we fix the issue? I think it's blocking issue for Kubeflow Shared Test-infra POC,

[2020-10-21 22:00] PatrickXYS commented on #361
Should be `maintainers` rather than `members`

[2020-10-21 22:15] Jeffwan commented on #361
With correct permission, then I think bot doesn't need admin permission any more.
This https://github.com/kubeflow/internal-acls/pull/357 should be discarded.

[2020-10-21 22:19] PatrickXYS commented on #361
I'll discard #357 after we confirm proposed PR fix the issue https://github.com/kubeflow/internal-acls/pull/362

[2020-10-23 17:56] Jeffwan commented on #348
I think POC is done and it works fine. @PatrickXYS You can revert changes in #357
If other repos plans to onboard new CI, I would suggest to apply the change once.

[2020-10-24 16:47] jlewi opened #365 "Replace Google only @kubeflow.org groups with @google.com groups"
/kind area/process

Replace all @kubeflow.org groups that should contain only Googlers with @google.com addresses

[2020-10-24 17:00] jlewi commented on #365
google-kubeflow-admins@google.com has been created
google-kubeflow-admins@kubeflow.org has been deleted.

[2020-10-24 17:05] jlewi commented on #365
google-team@kubeflow.org has been deleted

google-kubeflow-team@google.com already exists

[2020-10-28 16:05] PatrickXYS commented on #361
It's happening again to kfserving repo after merged PR #363

![image](https://user-images.githubusercontent.com/23116624/97463072-9bd22d80-18fc-11eb-96f3-d06fafc92255.png)

/cc @chensun I'm assuming the same sync error happened again

[2020-10-28 17:57] Jeffwan commented on #361
em.. any change to figure out the root problem ?

[2020-10-28 18:02] PatrickXYS commented on #361
We might need to rely on google folks in debugging sync issue, because this is somehow related to Github Permissions, I doubt we can find easy way debugging.

[2020-10-28 22:28] #295 closed

[2020-10-29 17:48] chensun commented on #361
The error is
[code]

[2020-10-29 17:57] PatrickXYS commented on #361
@chensun Thanks, but how can we debug from this way?

From Github Doc, 422 means `third-party-bots` team is not owned by Kubeflow org,

[code]

Is this possible that we can get access to the cluster to debug? Or can we find another way to make it work, maybe manually re-syncing script

@jlewi

[2020-10-30 03:51] PatrickXYS commented on #361
/cc @Bobgy  Can you help run this [script](https://github.com/kubeflow/internal-acls/blob/master/github-orgs/sync_org.sh) to sync manually?

[2020-10-30 20:29] jlewi commented on #361
@PatrickXYS Why would running the script manually help? Isn't the script just executing the same thing our auto sync is running? Presumably the logs @chensun posted above are the relevant logs.

[2020-10-30 20:32] jlewi commented on #361
The group appears to be owned by kubeflow.
https://github.com/orgs/kubeflow/teams/third-party-bots

I wonder if its possible if there is a name collision and peribolos isn't handling that correctly?

We have other groups like kfserving that are getting correctly sync'd
https://github.com/orgs/kubeflow/teams/kfserving-owners/repositories

Maybe just try it by making the group id sufficiently random

[2020-10-30 20:34] jlewi commented on #361
How did you fix that problem before with the other repositories? e.g. katib and pytorch?

[2020-10-30 20:35] PatrickXYS commented on #361
Yes I assume they're the same, but having people running it can give us some chances to further debug, we can't help in any way if machine automatically running sync script given limited access.

Got it, let me try it.

[2020-10-30 20:36] jlewi commented on #361
It would also be worth trying to verify that the group id in the error message is correct

[2020-10-30 20:38] jlewi commented on #361
Here's a script that should allow you to get the team id
https://github.com/jlewi/kubeflow-dev/blob/master/get-team-id.sh

[2020-10-30 20:53] PatrickXYS commented on #361
Update: using this [script](https://github.com/jlewi/kubeflow-dev/blob/master/get-team-id.sh) to get team id, found third-party-bots is not included in Kubeflow Org. But indeed it's included from UI

[2020-11-02 03:57] PatrickXYS commented on #361
/reopen

It's doesn't work https://github.com/orgs/kubeflow/teams/third-party-bots-1321/repositories

[2020-11-02 04:06] PatrickXYS commented on #361
Can we add the bot account to the ci-bot team? https://github.com/kubeflow/internal-acls/blob/master/github-orgs/kubeflow/org.yaml#L723-L728

Only give write access to kubeflow repos should be okay I think, wondering if folks have any concern about this?

Besides that, I don't know what I can do to help to debug the sync issue.

/cc @Jeffwan @Bobgy @jlewi

[2020-11-02 13:56] jlewi commented on #361
It looks like the team account was created and two repos were added.
https://github.com/orgs/kubeflow/teams/third-party-bots-1321/repositories

Yes. I believe ci-bots have write access to all/most repos and the aws bots should not have access to all of them.

@chensun Can you attach the latest logs?

@PatrickXYS I think you might need to follow up with the prow team once @chensun attaches the logs

[2020-11-02 14:33] jlewi commented on #361
Here are the logs. It looks like its the same error.

[code]

[github-sync-logs.txt](https://github.com/kubeflow/internal-acls/files/5475666/github-sync-logs.txt)

[2020-11-02 14:35] jlewi commented on #361
This is very weird; it looks like there are now 3 repos
https://github.com/orgs/kubeflow/teams/third-party-bots-1321/repositories

* kfserving added 10 minutes ago
* katib added 1 hour ago
* pytorch-operator added  6 hours ago

[2020-11-02 14:38] jlewi commented on #361
I added the other repositories manually. Lets see what happens.

[2020-11-02 14:45] jlewi commented on #361
It looks likes the sync is still crashing which will block other updates to the GitHub org.

@PatrickXYS Can you try adding the repositories one at a time so we can narrow it down to a specific repository? Maybe try tf-operator?

[2020-11-02 17:01] PatrickXYS commented on #361
Thanks @jlewi

This makes sense, since tf-operator has already been added, I'll add `caffe2-operator` to experiment

[2020-11-02 17:32] Jeffwan commented on #361
@PatrickXYS training probably will deprecate Caffe2-operator soon and it doesn't have test, running, any reason to add it now?

[2020-11-02 18:19] jlewi commented on #22
Fixed.

[2020-11-02 18:19] #22 closed

[2020-11-02 18:38] #249 closed

[2020-11-02 18:39] jlewi commented on #361
If you look at the error the sync is crashing on a bunch of repos.

[code]

Including tf-operator. So I think we want to start adding the repos one by one; e.g. start by adding katib see if the sync works. If it does then add kfserving. Etc...

[2020-11-02 19:08] PatrickXYS commented on #361
Sounds good, I started from top of the repo-list, which is katib first, then kfctl ...

https://github.com/kubeflow/internal-acls/pull/371

Can you approve the PR and let's see how the logs look like

[2020-11-02 19:55] PatrickXYS commented on #361
FYI, what's log looks like now? Let me know if there's sync issue or not, and I can move forward to add other repos.

[2020-11-02 20:54] jlewi commented on #361
@PatrickXYS sync completed successfully. the team owns the katib repo.

[2020-11-02 21:16] PatrickXYS commented on #361
Move forward with kfctl repo, PR: https://github.com/kubeflow/internal-acls/pull/373

[2020-11-02 21:30] PatrickXYS commented on #361
Only katib access here: https://github.com/orgs/kubeflow/teams/third-party-bots-1321/repositories

Since kfserving is also actively developing, can we move fast to fix the issue?

/cc @jlewi @kubeflow/wg-serving-leads

[2020-11-02 21:45] jlewi commented on #361
@PatrickXYS Sure. Just add KFServing next.

[2020-11-02 21:48] jlewi commented on #361
@PatrickXYS you can go ahead an prepare the PR and I can LGTM it with a hold so we're ready to merge it as soon as the results of kfctl come in.

[2020-11-02 21:53] jlewi opened #375 "Are the GitHub sync jobs overlapping? Is that causing problems?"
Right now we run our GitHub sync's as a cron job. It currently runs every 15 minutes and takes about 15 minutes to run.

[code]
If this continues we will get concurrent runs and I wonder if this could potentially cause problems.

It might be better to use the pattern we do for groups-sync. Where we run a reconcile loop
https://github.com/kubeflow/internal-acls/tree/master/google_groups

and use gi

[2020-11-02 21:53] PatrickXYS commented on #361
kfserving PR https://github.com/kubeflow/internal-acls/pull/374

Looks like kfctl is not yet synced: https://github.com/orgs/kubeflow/teams/third-party-bots-1321/repositories

/cc @jlewi

[2020-11-02 21:54] jlewi commented on #361
kfctl should be running now

[code]

So when `github-sync-1604353200` finishes.

[2020-11-02 21:58] jlewi commented on #361
@PatrickXYS It failed to update kfctl.

[code]

[2020-11-02 22:10] PatrickXYS commented on #361
I removed kfctl for now and add kfserving

The error message is weird, sync works for katib but failed for kfctl, I think we need to reach out to Prow folks asking about Peribolos.

/cc @jlewi

[2020-11-02 22:40] jlewi commented on #361
@PatrickXYS there's probably a couple things we should do

* Upgrade to the latest peribolos; I can try that
* Take a quick look at the peribolos code to see what's going on

Its not clear to me whether this is a
  * bug in peribolos
  * bug in GitHub
  * a weird misconfiguration on our end.

We may need to do something like try to repo the issue by creating a small piece of GoCode which calls the

[2020-11-02 22:53] jlewi commented on #361
I updated the periobolos image to the latest image: gcr.io/k8s-prow/peribolos@sha256:a1248c8793d5c99ed3b31c8ad1e27348cdaf5e11abc501629c9d636921460e9b

[2020-11-02 22:59] PatrickXYS commented on #361
@jlewi Yeah I think we should other experiments you mentioned before we report to Prow team.

Let's see what happens after periobolos upgraded.

[2020-11-02 23:02] jlewi commented on #361
@PatrickXYS periobolos should be upgraded.
It sync'd
https://github.com/orgs/kubeflow/teams/third-party-bots-1321/repositories
So KFServing is now a repository.

[2020-11-02 23:03] PatrickXYS commented on #361
I'm considering I can send PR for kfctl again and see if upgraded periobolos can fix the issue

[2020-11-02 23:54] PatrickXYS commented on #361
kfctl is back https://github.com/orgs/kubeflow/teams/third-party-bots-1321/repositories

Maybe upgraded periobolos fixed the issue.

I'll send another PR to add the rest of repos all at once

[2020-11-03 00:10] PatrickXYS commented on #361
https://github.com/orgs/kubeflow/teams/third-party-bots-1321/repositories

Problems solved! Upgraded periobolos fixed issue (?not sure what the issue is though)

Thanks a lot for helping @jlewi

/close

[2020-11-03 00:10] #361 closed

[2020-11-03 00:31] jlewi commented on #361
@PatrickXYS Thanks for patience. I bet we both wish we could get those hours of our lives back.

[2020-11-05 00:55] PatrickXYS opened #384 "Sync issue happened for wg-manifests and wg-deployment"
After [this PR ](https://github.com/kubeflow/internal-acls/pull/382)merged,

we should have wg-manifests and wg-deployment Github Team established,

given this query, https://github.com/orgs/kubeflow/teams?query=wg-

It's obviously sync script does not work, I'm guessing the issue happened before, happened again.

/cc @chensun @jlewi @Bobgy

[2020-11-05 02:24] Bobgy commented on #384
/assign
I'll investigate now

[2020-11-05 02:30] Bobgy commented on #384
Found error
[code]
I'll prioritize https://github.com/kubeflow/internal-acls/issues/346 after immediate work items for Kubeflow 1.2

[2020-11-05 02:42] Bobgy commented on #384
Hmm, the change was correct in https://github.com/kubeflow/internal-acls/pull/376, but the running job hasn't been updated. I'll investigate further.

[2020-11-05 02:43] Bobgy commented on #384
/cc @jlewi

[2020-11-05 02:44] PatrickXYS commented on #384
Maybe adding @chensun to the kubeflow org, and then check out the cron job to see how it goes.

[2020-11-05 02:46] PatrickXYS commented on #384
I think we can improve the process, find a way to expose logs / errors / issues to non-google folks, thus, it will save time for google-admin to check those logs as well

[2020-11-05 02:49] Bobgy commented on #384
OK, I found the problem, the validate.py change needs to be manually updated by https://github.com/kubeflow/internal-acls/blob/e4ad312993bbed0ba9a54b92258aad929b338d3c/github-orgs/manifests/Makefile#L10

I've updated that, the next sync should work

[2020-11-05 02:52] Bobgy commented on #384
I think the blocker is that fixing anything there is high privilege, so you'll need to wait for a google-admin to do that, just exposing the logs might not be enough, but exposing logs might be helpful to let community members find a fix and contribute a PR...

Any ideas for a good way to expose those logs?

[2020-11-05 02:54] Bobgy commented on #384
There's one more problem
[code]

[2020-11-05 03:14] Bobgy commented on #384
/reopen
Still not working

[2020-11-05 03:28] Bobgy opened #387 "Update github sync token"
We cannot remove @jlewi as admin, because this github sync is using his token: https://github.com/kubeflow/internal-acls/issues/384#issuecomment-722114368
I'll update it to mine.

[2020-11-05 03:42] Bobgy commented on #384
The sync was successful

[2020-11-05 03:42] #384 closed

[2020-11-05 03:47] PatrickXYS commented on #384
I can come up with some ideas including giving viewer access, but looks like the GKE cluster cronjob is running is not used internally, I don't have a good idea

[2020-11-05 03:49] #387 closed

[2020-11-05 13:34] #365 closed

[2020-11-05 13:38] jlewi opened #390 "Migrate Peribolos to GitHub App ; stop using personal access tokens"
Right now the GitHub sync works using personal access tokens. Using a GitHub app would be better.

kubernetes/test-infra#10423 is tracking the upstream peribolos changes.

[2020-11-05 14:04] jlewi opened #392 "Better GitHub org validation on presubmit"
We have a pretty limited test: https://github.com/kubeflow/internal-acls/blob/master/github-orgs/test_org_yaml.py

To validate our config on presubmit. We should do more validation.

* Does peribolos/prow provide some validation that we could run on presubmit?
* We should rewrite our tests to use go and not python
  * We should verify that we can properly deserialize the YAML to the peribolos stru

[2020-11-05 18:06] Jeffwan commented on #354
Let's try to move forward the first option. This may require some changes on upstream

[2020-11-07 04:16] subodh101 opened #396 "github org invitation not yet received"
What?
Here is the PR: https://github.com/kubeflow/internal-acls/pull/356

cc: @PatrickXYS @jlewi @Bobgy

[2020-11-07 05:53] PatrickXYS commented on #396
Should be sync issue... I don't know why the issue happens much frequently recently, can we improve the process to help google folks get rid of the oncall-sync stuff?

/cc @Bobgy

[2020-11-07 20:32] jlewi commented on #396
I'm no longer a GitHub org admin so I can't check to see whether the invite got sent.

One thing that might help which may or may not be related to this particular issue is better validation on presubmits #392. This would hopefully catch sync breaking changes before they are merged.

/cc @chensun @PatrickXYS

[2020-11-07 21:32] chensun commented on #396
No error reported from recent syncs.
I do see a log line as:
[code]

[2020-11-07 21:50] Bobgy commented on #396
@subodh101 I can see your name in "pending invitation" state on github UI for Kubeflow org, so it's not the sync's problem.

Please confirm your email's trash first

[2020-11-08 03:06] subodh101 commented on #396
@Bobgy
I confirm I can't find the email even in the trash. This seems weird.

[2020-11-08 03:07] Bobgy commented on #396
@subodh101 let me manually resend the invitation to you

[2020-11-08 05:11] subodh101 commented on #396
It may have sent the invitation to my college id.
But my primary email was subodh.pushkar@gmail.com only. However, I have deleted my college id now just in case.
Could you use the email to send the invitation? Also, I hope that doesn't break the sync.

[2020-11-08 09:26] Bobgy commented on #396
I've deleted your invitation again, the sync will resend it soon. And FYI, the invitation email is completely a github feature. The sync is only responsible for initiating the invitation, if the rest of job goes wrong, it's on github side. So I don't think it will confuse the sync.

[2020-11-08 09:59] subodh101 commented on #396
Thank you!
Got the invitation. :)

[2020-11-08 09:59] #396 closed

[2020-11-08 13:06] Bobgy commented on #396
@subodh101 you are welcome! Thank you for your contributions!

[2020-11-12 03:08] PatrickXYS opened #403 "Clean up deprecated github team"
Given some GitHub team we established previously is not in use or deprecated,

the list of data points I can collect:

1. @kubeflow/kfctl-release
2. @kubeflow/project-maintainers
3. @kubeflow/release-planning

We should clean up those deprecated github team to formalize permission granting, given now we have WG, which should be folks who have write access to the repo, only a few other folks should

[2020-11-12 04:23] Bobgy commented on #403
SGTM
/cc @kubeflow/wg-deployment-leads
/cc @jbottum

What do you think?

[2020-11-12 05:28] Jeffwan commented on #403
`kfctl-release` was created in last release. The reason is we want to grant minimum permission to folks helping on the kfctl release. `release-team` manages lots of repos which is too wide. I think this is no longer needed. WG-deployment leads should have write permission now.

for rest of them, we need to get some feedbacks from PM as well

[2020-11-13 04:37] PatrickXYS commented on #403
@Jeffwan Right, given we now have @kubeflow/wg-deployment-leads take care of kfctl release, I think @kubeflow/kfctl-release is not yet needed.

For `release team`, I think giving kubeflow/kubeflow write access make sense, the team can create new kanban there.

For `project-maintainers` team, which is created to take care of Kanban, given now we have WG, this should be deprecated as well.

[2020-11-13 07:19] Bobgy opened #405 "Update or deprecate member_organizations.yaml?"
_Originally posted by @theadactyl in https://github.com/kubeflow/internal-acls/issues/401#issuecomment-726216347_

The [member_organiziations.yaml](https://github.com/kubeflow/community/blob/master/member_organizations.yaml) hasn't been updated for a while, I can see a lot of stale information there. Shall we keep it updated or stop using it altogether? I don't see people using it anyway, but I co

[2020-11-13 07:21] Bobgy commented on #405
/cc @jbottum @jlewi @Jeffwan @PatrickXYS @terrytangyuan @animeshsingh
Any insights?

[2020-11-13 15:59] terrytangyuan commented on #405
I believe people are still updating it. I would prefer updating it so that we know who we can contact to for each organizations. The `hiringUrl` might also be useful for some folks in the community who have experience in Kubeflow and are looking for relevant job opportunities.

[2020-11-14 16:07] jlewi commented on #405
I believe one of the main use cases for
https://github.com/kubeflow/community/blob/master/member_organizations.yaml is to generate a list of all the organizations to acknowledge; e.g. generate slides like this one
https://docs.google.com/presentation/d/1i_xG2SpJAmqpsloD62C_Ls55OipZJ1pcgFVuciBUqnU/edit#slide=id.g560b73ae6c_0_214

So we probably need something to serve the purpose of collecting logo

[2020-11-14 16:19] jlewi commented on #403
+1 to getting rid of project-maintaieners. The genesis of that group was that you need write permission on a repo in order to be able to tag an issue into an org-level project. So in order to build the Kanban boards for Kubeflow 1.X, whoever was tagging the issues into the Kanban board needed write access to all such issues.

[2020-11-17 16:38] #403 closed

[2020-12-03 04:30] #348 closed

[2021-01-12 23:24] PatrickXYS commented on #354
The solution that I could propose is:

1. Configure Kubeflow github organization webhook, this will enable all the repo's events under kubeflow org can be received by optional-test-infra prow. At this moment, prow **won't** be able to do tests for all the kubeflow repos.
2. If any kubeflow repo want to adopt optional-test-infra, they need
2.1. Grant repo access to aws-kf-ci-bot, check [PR](https:/

[2021-01-13 03:55] Bobgy commented on #354
@PatrickXYS that sounds like a good idea!

As long as aws-kf-ci-bot do not have permission to access certain repos, sending webhooks to it should not expose extra security risk I believe.

/cc @james-jwu @jlewi
Any thoughts?

[2021-01-15 11:58] Bobgy commented on #354
I discussed offline with `@james-jwu`, we agree with the organizational webhook approach.
@PatrickXYS shall we proceed?

[2021-01-16 00:43] PatrickXYS commented on #354
@Bobgy  Thanks, I think we should proceed.

[2021-01-18 10:56] Bobgy commented on #354
I've added organizational webhook and removed per-repo webhooks.
@PatrickXYS Can you verify if optional test infra is still working in current repos?

[2021-01-18 16:56] PatrickXYS commented on #354
@Bobgy Thank you for your help!

I've kicked off tests in manifests/kfctl/katib/kfserving repo, and those are working properly as before.

I think this issue is fixed and can be considered as a long-term solution.

[2021-01-18 17:04] PatrickXYS commented on #354
/close

[2021-01-21 04:53] Bobgy commented on #354
/reopen
@PatrickXYS I noticed aws-kf-ci-bot starts to respond to commands in kubeflow/pipelines repo.
That seems to be a problem caused by this.

Can you configure prow to disable plugins for non optional test infra managed repos?

https://github.com/kubeflow/pipelines/pull/5019#issuecomment-764307470

[2021-01-21 16:32] PatrickXYS commented on #354
@Bobgy  That's strange, let me figure it out

[2021-01-21 16:35] PatrickXYS commented on #354
Yeah seems like we need to do repo-level trigger plugin configuration, on my way

[2021-01-21 16:46] #354 closed

[2021-01-21 16:49] PatrickXYS commented on #354
The aws-kf-ci-bot is not firing in kubeflow/pipelines https://github.com/kubeflow/pipelines/pull/5019#issuecomment-764784776

[2021-01-22 07:51] Bobgy commented on #354
Thank you a lot for the quick fix! @PatrickXYS

[2021-03-27 00:21] Bobgy commented on #346
/reopen
After test infra migration, I need to hook up this test.

[2021-03-31 05:51] Bobgy commented on #346
The test is up and running in https://github.com/kubeflow/internal-acls/pull/445

[2021-03-31 05:51] #346 closed

[2021-06-02 16:54] #375 closed

[2021-06-11 01:34] #390 closed

[2021-06-11 01:34] #392 closed

[2021-06-11 01:34] #405 closed